name: Generate Build

on:
  push:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-18.04
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
      - uses: actions/checkout@v2

      - name: Extract version
        shell: bash
        run: echo "##[set-output name=version;]$(commit_count=$( git rev-list --count HEAD ); branch_name=$( git rev-parse --abbrev-ref HEAD ); branch_commit_count=$( git rev-list --count HEAD ^master ); echo b$commit_count$(if [ $branch_name != "master" ]; then echo "+${branch_commit_count}"; fi)-$branch_name;)"
        id: version_id

      - name: Version name
        shell: bash
        env:
          VERSION_ID: ${{ steps.version_id.outputs.version }}
        run: echo Creating debug package for $VERSION_ID

      - name: Use Java8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build debug apk
        run: ./gradlew clean assembleDebug

      - name: Create release and upload apk
        uses: underwindfall/create-release-with-debugapk@v2.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION_ID: ${{ steps.version_id.outputs.version }}
        with:
          tag_name: "1.0${{ env.VERSION_ID }}"
          asset_path: app/build/outputs/apk/debug/app-debug.apk
          asset_name: debug.apk
          asset_content_type: application/zip
